
{% block head %}

<title>Calculator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">YouTube Scrapper</h1>

    <div class="form">
        <form action="/data" method="POST">
            <label for="yt_id"> Youtube ID </label>
            <input type="text" name="yt_id" id="yt_id">
            
            <label for="#videos"> No of Videos </label>
            <input type="number" name="#videos" id="#videos">
            
            <input type="submit" value="Search">

        </form>
    </div>
</div>
{% endblock %}